<body
    style="background: url('https://albaniatourguide.com/wp-content/uploads/2021/03/ksamil-9-shutterstock-large.jpg') ; background-size: 100% 100%;">


    <div class="bg-image" style="background-image: 
            @* url('https://albaniatourguide.com/wp-content/uploads/2021/03/ksamil-9-shutterstock-large.jpg'); *@
            height: 50% ">
      <em>  <h1>Welcome to albanian touristic site!</h1></em>

        <div class="row">
            <div class="col-sm-6">
                <partial name="RegisterPartial"></partial>
            </div>
            <div class="col-sm-6">
                <partial name="LoginPartial"></partial>
            </div>
        </div>
    </div>
</body>